<!-- ||||||||||||||||||||||||||||||||||||| APP FOOTER ||||||||||||||||||||||||||||||||||||||||||||||-->



<!-- Footer "legal" content will be placed on the bottom of each page. -->
<div style="margin-top: 300px"></div>   

<div class="footer">
<small>This app contains photos and references only to
      copyright-free material from "https://unsplash.com,"
      where all photoes are specifically authorized by the copyright 
      owner. This material is used to illustrate the use 
      of software app development as part of a class project 
      for CS361 and is strictly for educational purposes only. Any 
      information contained in this database is created by  
      development users and is not guaranteed to be confidential
      or protected. Use of above materials constitutes ‘fair use’ of 
      any such copyrighted material referenced and provided 
      for in 17 U.S. Code § 107. If you wish to use any 
      referenced material from this site for purposes of your own 
      that go beyond ‘fair use’, you must obtain expressed permission 
      from the copyright owner(s). 
      </small>
      </div>
