<!--|||||||||||||||||||||||||||||||||||||| MAIN TEMPLATE ||||||||||||||||||||||||||||||||||-->




<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{title}}</title>
    
    <!-- Style and Reference Sheets-->
    <link rel="stylesheet" type="text/css" href="./css/layout.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>



<body>   
{{>header}}
{{{body}}}
{{>footer}}
</body>


</html>
