<!-- ||||||||||||||||||||||||||||||||||||||| ABOUT PAGE ||||||||||||||||||||||||||||||||||||||||||-->


 

<!--Provide explanations and step-by-step instructions for user. --> 



<div class="big_letters" style="text-align:center; margin-bottom:100px">
    <h1>Can you keep a secret?</h1>
</div>

<div style="margin-top: 50px"></div>

<div class="centerstuff" id="background">
    <h1>
        Writing Messages:
    </h1>
    
    <h1>Welcome to Secret Pen Pal, an app that allows you to write 
        messages to other users of the app or save your message as 
        an encrypted message for sending outside the app. Don't want 
        Gmail or Facebook having a log of your messages? Send them 
        encrypted from our Message box. Just click "Message" above 
        and type whatever you like! Then, encrypt the message by clicking
        "Make Secret" below the message box. This will encrypt your message
        so that you can send it or save it for yourself. Our encryption 
        is unique only to our app and will keep your message confidential.
    </h1>
</div>

<div class="centerstuff" id="background">
    
    <h1>
        Using your Board:
    </h1>
    
    
    <h1>You can save your messages to you own board! Under the text box in the 
        "Message" tab above, click "Save to Board". This will save your message 
        to your board. Below the textbox, you can see your saved message! 
        You can also send this message to someone else via email, or you can save 
        the message in a text file. If you send the encrypted message to someone 
        else, they must use this app to decrypt their message.  
        Your secrets are safe with us! 
    </h1>
</div>
