<!-- ||||||||||||||||||||||||||||||||||||||| CONTACT PAGE ||||||||||||||||||||||||||||||||||||||||||--> 
 
 
 
 
 <!-- Page to allow users to contact app company if they have issues or concerns.-->
 

 <div class="centerstuff" style="text-align:center">
   <h1>Having Trouble?</h1>
   
   <div>
    <form action="mailto:montanek@oregonstate.edu" 
    method="get" target="_blank" enctype="text/plain">
      <div class="field"><label class="label" for="subject">Subject:</label>
        <input name="subject" id="subject" type="text" 
        class="input" placeholder="Subject..."></div>
        
        
        
      <div>
        <div class="field"><label class="label" 
        for="subject">Comments:</label>
        <br />
        <textarea name="body" id="body" type="text" 
        class="input" rows="12" cols="35" 
        placeholder="Send any questions or 
        concerns to us..."></textarea>
      </div>
      
      
      
      <div>
        <input type="submit" class="pill-nav" 
        name="submit" value="Send" />
      </div>
    </form>
